*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}


header{
    background-image: url('https://d9hhrg4mnvzow.cloudfront.net/www.balmzone.com/3bb7efc7-header_11hc0nk000000000000028.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

// NAVBAR
.navbar-brand{
    font-family: 'Dancing Script';
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
}

#navbarNav{
    display: flex;
    justify-content: end;
}


.navLink{
    color: white;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    &:hover{
        color: blue;
    }
}

// FIN NAVBAR
// HEADER CONTENT
#headerContent{
    color: white;
    padding-left: 64px;
    margin-top: 5%;
    p{
        font-size: 21px;
    }
    .encabezado{
        font-size: 90px;
        font-weight: 300;
    }
}

form{
    padding-left: 64px;
}

.emailForm{
    .form-control{
        width: 30vw;
        height: 8vh;
        margin-left: 20px;
        border-radius: 100px;
    }
    button{
        background-color: rgba(102,16,193,1);
        border: 0px;
        height: 8vh;
        width: 16vw;
        border-radius: 100px;
        font-weight: bold;
        font-size: 18px;
    }
}

// MAIN CONTENT
// PART 1
.first-part{
    margin-top: 5%;
    margin-bottom: 5%;
    .textContent1{
        text-align: center;
        h1{
            color: $fontColor;
            font-weight: 300;
            font-size: 48px;
            font-style: normal;
        }
        .paragraph{
            margin-top: 3%;
            width: 50vw;
            margin-left: auto;
            margin-right: auto;
            p{
                color: $parrafoColor;
                font-size: 16px;
            }
        }
    }

}

.iconsMain{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    .iconsPart{
        margin-left: 30px;
        margin-right: 30px;
        img{
            width: 105px;
            height: 100px;
        }
        .iconsText{
            font-size: 18px;
            color: $parrafoColor;
            text-align: center;
        }
    }
}

.iconBar{
    display: flex;
    justify-content: center;
    img{
        width: 60vw;
    }
}

.second-part{
    background-color: #fff;
}

.secondText{
    margin-top: 10%;
    h1{
        color: $fontColor;
        font-weight: 300;
        font-size: 48px;
        font-style: normal;
    }
    p{
        margin-top: 12%;
    }
    .download{
        margin-top: 12%;
    }
}

.third-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url('https://d9hhrg4mnvzow.cloudfront.net/www.balmzone.com/18d741df-mesa-de-trabajo-30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        color: #fff;
        font-size: 28px;
        margin-bottom: 0;
        margin-right: 7%;
    }
    button{
        background-color: #fff;
        border: 0;
        height: 8vh;
        width: 16vw;
        border-radius: 100px;
        font-weight: 300;
        font-size: 18px;
        color: $fontColor;
        font-size: 22px;
        text-align: center;
        &:hover{
            background-color: $fontColor;
            color: #fff;
        }
    }
}

.fourth-part{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #fff;
    h2{
        color: $fontColor;
        font-weight: 300;
        font-size: 48px;
        font-style: normal;
    }
    .paragraph-two{
        margin-top: 3%;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        p{
            color: $parrafoColor;
            font-size: 16px;
        }
        span{
            text-decoration: underline;
        }
    }
    .discoverPic{
        img{
            width: 90vw;
            text-align: center;
        }
        button{
            background-color: #fff;
            border: 1px solid $fontColor;
            height: 8vh;
            width: 16vw;
            border-radius: 100px;
            font-weight: 400;
            font-size: 24px;
            color: $fontColor;
            font-size: 22px;
            text-align: center;
            &:hover{
                background-color: $fontColor;
                color: #fff;
            }
        }
    }

}

.fifth-part{
    height: 562px;
    width: 100%;
    background-image: url('https://d9hhrg4mnvzow.cloudfront.net/www.balmzone.com/c81808aa-sky-mj482yu_10000001ay0of00000001o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .overlay-color{
        background-color: rgba(255,255,255,0.72);
        height: 562px;
        width: 100%;
        h3{
            padding-top: 2%;
            text-align: center;
            margin-top: 12%;
            color: $fontColor;
            font-weight: 300;
            font-size: 48px;
            font-style: normal;
        }
        .img-fifth{
            display: flex;
            justify-content: center;
            padding: 8%;
        }
    }

}

#faq{
    .faq-begin{
        margin-top: 25px;
        margin-bottom: 25px;
        h2{
            margin-bottom: 25px;
            color: $fontColor;
            font-weight: 300;
            font-size: 48px;
            font-style: normal;
        }
    }
}


.faq{
    .questions{
        width: 25vw;
        h3{
            font-size: 18px;
            color: $parrafoColor;
            font-weight: bold;
        }
        p{
            font-size: 16px;
            color: $parrafoColor;
            border-left: 4px solid $fontColor;
            padding-left: 10px;
        }
    }
}

#testimonials{
    height: 653px;
    width: 100%;
    background-image: url('https://d9hhrg4mnvzow.cloudfront.net/www.balmzone.com/4fbef07e-paisaje_11hc0zk1hc0w900001n01o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .overlay-testimonials{
        background-color: rgba(141,69,229,0.48);
        height: 653px;
        width: 100%;
        h3{
            padding-top: 2%;
            text-align: center;
            margin-top: 12%;
            color: #fff;
            font-weight: 300;
            font-size: 48px;
            font-style: normal;
        }
        .img-testimonial{
            border-radius: 100px;
            display: flex;
            .testimonio{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 250px;
                width: 45vw;
                background-color: rgba(102,16,193,0.74)
                ;
                border-radius: 36px;
                p{
                    margin: 20px;
                }
                h4{
                    margin: 20px;
                }
            }
        }
    }
}