// GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

$fontColor: rgb(83, 41, 148);
$backgroundColor: rgba(247,247,247,1);
$parrafoColor: rgb(107, 107, 107);